<div>
  <div class='row' style='margin-bottom: 50px'>
    <h3>
      Our top 3 tips for you to maximise your chances of receiving a house offer:
    </h3>
    <ol>
      <li>
        Ensure you don't have arrears on your rent account, otherwise you won't be able to successfully bid for secure
        accommodation
      </li>
      <li>
        Bid for lifted properties on higher floors. Ground and lower floor properties are in higher demand and often
        reserved for those medically assessed as requiring low level access
      </li>
      <li>
        Review your bids on Monday evenings to give you a more accurate indication of whether you are likely to be
        shortlisted for a property, and the opportunity to move your bid to another property for which you may have a
        greater chance of success
      </li>
    </ol>
    <a href='https://www.ellcchoicehomes.org.uk/Data/ASPPages/1/53.aspx' role='button' draggable='false'
      class='govuk-button lbh-button'>
      Bid for properties (External Link)
    </a>
  </div>
</div>