{{> header title=title }}
<section class="lbh-page-announcement">
  <h2 class="lbh-page-announcement__title">
    Use this tool to:
  </h2>
  <div class="lbh-page-announcement__content">
    <ul>
      <li>
        Find your current position on the register
      </li>
      <li>
        Estimate your wait time
      </li>
      <li>
        View recommended housing solutions
      </li>
    </ul>
  </div>
</section>
<form action="/results" method="POST">
  <div class="govuk-form-group">
    <label class="govuk-label" for="biddingNumber">
      Bidding Number
    </label>
    <input class="govuk-input lbh-input" type="number" name="biddingNumber" id="biddingNumber" required
      oninvalid="this.setCustomValidity('Bidding number is required')" oninput="this.setCustomValidity('')" />
  </div>
  <div class="govuk-form-group dob">
    <fieldset>
      <legend>
        <span class="govuk-label">Date of Birth (DD/MM/YYYY)</span>
      </legend>
      <label class="govuk-label" for="day">
        Day
      </label>
      <input class="govuk-input lbh-input" type="number" id="day" name="day" pattern="[0-9]*" required
        oninvalid="this.setCustomValidity('Date of birth day is required')" oninput="this.setCustomValidity('')" />
      <label class="govuk-label" for="month">
        Month
      </label>
      <input class="govuk-input lbh-input" type="number" id="month" name="month" pattern="[0-9]*" required
        oninvalid="this.setCustomValidity('Date of birth month is required')" oninput="this.setCustomValidity('')" />
      <label class="govuk-label" for="year">
        Year
      </label>
      <input class="govuk-input lbh-input" type="number" id="year" name="year" type="number" pattern="[0-9]*" required
        oninvalid="this.setCustomValidity('Date of birth year is required')" oninput="this.setCustomValidity('')" />
    </fieldset>
  </div>
  <div class="govuk-form-group">
    <input type="hidden" name="token" value="{{token}}" />
    <button class="govuk-button lbh-button">
      Search
    </button>
  </div>
  <div class="govuk-form-group govuk-hint lbh-hint">
    Don't know your bidding number? Email us at <a
      href="mailto:Housing.register@hackney.gov.uk">Housing.register@hackney.gov.uk</a> or call the Housing Register
    duty line on 020 8356 4412
  </div>
</form>
{{> footer }}